#ferias-proporcionais input {
  margin-bottom: 10px;
}

#ferias-proporcionais fieldset fieldset {
  margin-bottom: 10px;
}

#ferias-proporcionais fieldset > label:last-child {
  display: block;
  margin-top: 10px;
}