@media (min-height: 786px) {
  .company, .decimo-proporcional, .ferias, .ferias-proporcionais {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 0 20px;
  }
}

@media (min-height: 475px) {
  .employee, .document, .decimo, .salario {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 0 20px;
  }
}
