@media (min-height: 786px) {
  .company {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 0 20px;
  }
}

@media (min-height: 475px) {
  .employee {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 0 20px;
  }
}

@media (min-height: 296px) {
  .document {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 0 20px;
  }
}

@media (min-height: 392px) {
  .decimo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 0 20px;
  }
}

@media (min-height: 684px) {
  .decimo-proporcional {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 0 20px;
  }
}


